{
  "extends": [
      "@nuxtjs/eslint-config-typescript",
      "plugin:vue/vue3-recommended"
  ],
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "double"],
      "comma-dangle": ["error", "always-multiline"],
      "indent": ["error", 4],
      "keyword-spacing": ["error", {"before": true, "after": true}],
      "space-before-function-paren": ["error", {
        "anonymous": "never", 
        "named": "never", 
        "asyncArrow": "always"}
      ],
      "no-console": ["warn", {"allow": ["warn", "error"]}],
      "vue/multi-word-component-names": "off",
      "vue/html-indent": ["warn", 4, {
        "attribute": 1,
        "baseIndent": 1,
        "closeBracket": 0,
        "alignAttributesVertically": true,
        "ignores": []
      }],
      "vue/singleline-html-element-content-newline": "off",
      "vue/no-v-for-template-key": "off",
      "vue/no-v-for-template-key-on-child": "error"
  },
  "overrides": [
    {
      "files": "*.vue",
      "rules": {
        "require-await": "off",
        "indent": "off",
        "vue/script-indent": ["error", 4, { "baseIndent": 1, "switchCase": 1 }]
      }
    }
  ]
}
